html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
    text-align: center;
    padding-bottom: 60px;
}

button {
    cursor: grab;
}

button:active {
    cursor: grabbing;
}

h2 {
    margin-top: 3em;
}

.houpacka {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border: none;
    background-color: transparent;
    padding: 0;
    margin-top: 40px;
}

.houpacka__zakladna {
    margin-top: -79px;
}

.kocka {
    border: none;
    background-color: transparent;
    padding: 0;
    margin-top: 40px;
}


/* ------------- pod čáru přijdou tvé styly ------------- */

.kocka:hover {
    transform: scale(0.9);
}

.kocka {
    transition-property: opacity;
    transition: transform 1s;
    transition-delay: 0.1s;
}

.kocka:active {
    transform: scale(0.9);
    transform-origin: bottom;
    opacity: 0;
}

.kocka:focus {
    transform: scale(0.9);
}

.houpacka__deti {
    transform: rotate(-10deg);
    transition: transform 1s;
    transform-origin: 50% 74%;
}

.houpacka:active .houpacka__deti {
    transform: rotate(20deg);
}

.extra:active~.houpacka .houpacka__deti {
    transform: rotate(1turn);
}